swagger: "2.0"
info:
  description: "My Hacker News documentation"
  version: "1.0.0"
  title: "My Hacker News"
host: "myhackernews.tk"
basePath: "/api"
tags:
- name: "user"
  description: "Everything about users"
- name: "contribution"
  description: "Contributions like news and asks"
- name: "comment"
  description: "Comments and replies for contributions"
schemes:
- "http"
paths:
  /asks:
    get:
      tags:
        - "contribution"
      summary: "Endpoint to view the asks"
      description: "Returns all the contributions with type ask"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
            description: "Successful operation. Returns the asks"
            schema:
              $ref: "#/definitions/Ask"
    post:
      tags:
        - "contribution"
      summary: "Endpoint to create new contributions"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "contribution"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Ask"
      responses:
        201:
            description: "Successful operation. Returns created contribution"
            schema:
              $ref: "#/definitions/Ask"
        400:
            description: "Bad request, there are missing parameters or they do not have valid format"
        401:
            description: "Forbidden, missing authentication"
      security:
      - api_key: []
  /news:
    get:
      tags:
        - "contribution"
      summary: "Endpoint to view the news"
      description: "Returns all the contributions with type new"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
            description: "Successful operation. Returns the news"
            schema:
              $ref: "#/definitions/New"
  /contributions/{contributionId}:
    get:
      tags:
        - "contribution"
      summary: "Endpoint to get an specific contribution"
      description: "Returns a single contribution"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - in: "path"
          name: "contributionID"
          description: "ID of contribution to return"
          required: true
          type: "String"
      responses:
        200:
            description: "Successful operation. Returns asked contribution"
            schema:
              $ref: "#/definitions/Contribution"
        400:
            description: "Bad request, there are missing parameters or they do not have valid format"
        404:
            description: "Contribution not found"

  /comments/{commentId}:
    get:
      tags:
        - "comment"
      summary: "Endpoint to get an specific comment"
      description: "Returns a single comment"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - in: "path"
          name: "commentID"
          description: "ID of comment to return"
          required: true
          type: "String"
      responses:
        200:
            description: "Successful operation. Returns asked comment"
            schema:
              $ref: "#/definitions/Comment"
        400:
            description: "Bad request, there are missing parameters or they do not have valid format"
        404:
            description: "Comment not found"


  /users/{userId}:
    get:
      tags:
        - "user"
      summary: "Endpoint to get an specific users"
      description: "Returns a single user"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "userID"
        description: "ID of user to return"
        required: true
        type: "String"
      responses:
        200:
            description: "Successful operation. Returns asked user"
            schema:
              $ref: "#/definitions/User"
        400:
            description: "Bad request, there are missing parameters or they do not have valid format"
        404:
            description: "User not found"
    put:
      tags:
        - "user"
      summary: "Endpoint to update an existing user"
      description: "Returns the updated user"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "userID"
        description: "ID of user to return"
        required: true
        type: "String"
      - in: "body"
        name: "user"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/User"
      responses:
        200:
            description: "Successful operation. Returns updated user"
            schema:
              $ref: "#/definitions/User"
        400:
            description: "Bad request, there are missing parameters or they do not have valid format"
        401:
            description: "Forbidden, missing authentication"
        403:
            description: "Unauthorized. Missing permissions to update the resources"
      security:
      - api_key: []

securityDefinitions:
  api_key:
    type: "apiKey"
    name: "Authorization"
    in: "header"
definitions:
  Ask:
    type: "object"
    required:
      - "title"
      - "text"
      - "username"
    properties:
      id:
        type: "integer"
        format: "int64"
      title:
        type: "string"
      text:
        type: "string"
      username:
        type: "string"
      time:
        type: "string"
        format: "date-time"

  User:
    type: "object"
    required:
      - "email"
    properties:
      email:
        type: "string"
      karma:
        type: "integer"
        format: "int64"
      about:
        type: "string"

  New:
    type: "object"
    required:
      - "title"
      - "url"
      - "username"
    properties:
      id:
        type: "integer"
        format: "int64"
      title:
        type: "string"
      url:
        type: "string"
      username:
        type: "string"
      time:
        type: "string"
        format: "date-time"

  Contribution:
    type: "object"
    required:
      - "title"
      - "text"
      - "username"
    properties:
      id:
        type: "integer"
        format: "int64"
      title:
        type: "string"
      url:
        type: "string"
      text:
        type: "string"
      time:
        type: "string"
        format: "date-time"
      username:
        type: "string"
      kind:
        type: "string"
      n_votes:
        type: "integer"
        format: "int64"

  Comment:
    type: "object"
    required:
      - "text"
      - "username"
    properties:
      id:
        type: "integer"
        format: "int64"
      username:
        type: "string"
      time:
        type: "string"
        format: "date-time"
      text:
        type: "string"
      contribution_id:
        type: "integer"
        format: "int64"
      parent_id:
        type: "integer"
        format: "int64"