swagger: "2.0"
info:
  description: "My Hacker News documentation"
  version: "1.0.0"
  title: "My Hacker News"
host: "myhackernews.tk"
basePath: "/api"
tags:
- name: "user"
  description: "Everything about users"
- name: "contribution"
  description: "Contributions like news and asks"
- name: "comment"
  description: "Comments and replies for contributions"
schemes:
- "http"
paths:
  /asks:
    post:
      tags:
        - "contribution"
      summary: "Endpoint to create new contributions"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "contribution"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Ask"
      responses:
        201:
            description: "Successful operation. Returns created contribution"
            schema:
              $ref: "#/definitions/Ask"
        400:
            description: "Bad request, there are missing parameters or they do not have valid format"
        401:
            description: "Forbidden, missing authentication"
      security:
      - api_key: []
  /users:
    post:
      tags:
        - "user"
      summary: "Endpoint to create new users"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "user"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/User"
      responses:
        201:
            description: "Successful operation. Returns created user"
            schema:
              $ref: "#/definitions/User"
        400:
            description: "Bad request, there are missing parameters or they do not have valid format"
  /users/{userId}:
    get:
      tags:
        - "user"
      summary: "Endpoint to get an specific users"
      description: "Returns a single user"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "userID"
        description: "ID of user to return"
        required: true
        type: "String"
      responses:
        201:
            description: "Successful operation. Returns asked user"
            schema:
              $ref: "#/definitions/User"
        400:
            description: "Bad request, there are missing parameters or they do not have valid format"
    put:
      tags:
        - "user"
      summary: "Endpoint to update an existing user"
      description: "Returns the updated user"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "userID"
        description: "ID of user to return"
        required: true
        type: "String"
      - in: "body"
        name: "user"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/User"
      responses:
        201:
            description: "Successful operation. Returns updated user"
            schema:
              $ref: "#/definitions/User"
        400:
            description: "Bad request, there are missing parameters or they do not have valid format"
        401:
            description: "Forbidden, missing authentication"
      security:
      - api_key: []

  /news:
    get:
      tags:
        - "new"

securityDefinitions:
  api_key:
    type: "apiKey"
    name: "Authorization"
    in: "header"
definitions:
  Ask:
    type: "object"
    required:
      - "title"
      - "text"
      - "username"
    properties:
      id:
        type: "integer"
        format: "int64"
      title:
        type: "string"
      text:
        type: "string"
      username:
        type: "string"
      time:
        type: "string"
        format: "date-time"

  User:
    type: "object"
    required:
      - "email"
    properties:
      email:
        type: "string"
      karma:
        type: "integer"
        format: "int64"
      about:
        type: "string"

  New:
    type: "object"
    required:
      - "title"
      - "email"
    properties:
      id:
        type: "integer"
        format: "int64"
      title:
        type: "string"
      url:
        type: "string"
      username:
        type: "string"
      time:
        type: "string"
        format: "date-time"