{% extends "base.html" %}

{% if user %}
    {% set user=user %}
{% endif %}

{% block content %}
    <table>
        <tbody>
        {% for i in asks %}
            <tr class="athing" id="{{ loop.index }}">
                <td align="right" valign="top" class="title">
                    <span class="rank">{{ loop.index }}.</span>
                </td>
                <td valign="top" class="votelinks">
                    <center>
                        <a id="up_{{ i.id }}"
                           href="">
                            <div class="votearrow" title="upvote"></div>
                        </a>
                    </center>
                </td>
                <td class="title">
                    <a href= {{ i.url }}> {{ i.title }}</a>
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext">
                    <span class="score" id="score_{{ i.id }}"> points</span>
                    by
                    <a href="user?id={{ i.username }}"> {{ i.username }}</a>
                    <span class="age">
                                                <a href="item?id={{ i.id }}">{{ i.time }} ago</a>
                                            </span>
                    <span id="unv_{{ i.id }}"></span>
                    |
                    <a href="item?id={{ i.id }}">0&nbsp;comment</a>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}