{% extends "base.html" %}

{% if user %}
    {% set user=user %}
{% endif %}

{% block content %}
     <table>
        <tbody>
            <tr style="height:10px"></tr>
            <tr>
                <td>
                    <table class="fatitem" border="0">
                        <tbody>
                            <tr class="athing" id="{{ contribution.id }}">
                                <td align="right" valign="top" class="title">
                                    <span class="rank"></span>
                                </td>
                                <td valign="top" class="votelinks">
                                    <center>
                                        {% if voted == false and user.email != contribution.username %}
                                            <a id="up_{{ contribution.id }}" href="javascript:void(0)" onclick="$('#voteContribution{{ contribution.id }}').submit()">
                                            <form id="voteContribution{{ contribution.id }}" action="voteContribution" method="post" style="display: none">
                                                <input type="hidden" name="contribution" value="{{ contribution.id }}">
                                                <input type="hidden" name="action" value="vote">
                                            </form>
                                                <div class="votearrow" title="upvote"></div>
                                            </a>
                                        {% endif %}
                                        </a>
                                    </center>
                                </td>
                                <td class="title">
                                    {% if contribution.kind == 'new' %}
                                        <a href= {{ contribution.url }}> {{ contribution.title }}</a>
                                        <span class="sitebit comhead"> (
                                            <a href= {{ contribution.url }}>
                                                <span class="sitestr">{{ contribution.url }}</span>
                                            </a>)
                                        </span>
                                    {% else %}
                                        <a href='#'> {{ contribution.title }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% if contribution.kind == 'ask' %}
                                <tr>
                                    <td colspan="2"></td>
                                    <td> {{ contribution.text }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td colspan="2"></td>
                                <td class="subtext">
                                    <span class="score" id="score_{{ contribution.id }}"> {{ contribution.n_votes }} points</span>
                                    by
                                    <a href="user?user={{ contribution.username }}"> {{ contribution.username }} </a>
                                    <span class="age">
                                        <a href="item?id={{ contribution.id }}">{{ contribution.time|time_ago }} ago</a>
                                    </span>
                                    {% if voted == True and user.email != contribution.username %}
                                        <span id="unv_{{ contribution.id }}">
                                        |
                                        <a id="up_{{ contribution.id }}" href="javascript:void(0)" onclick="$('#voteContribution{{ contribution.id }}').submit()">
                                                <form id="voteContribution{{ contribution.id }}" action="voteContribution" method="post" style="display: none">
                                                    <input type="hidden" name="contribution" value="{{ contribution.id }}">
                                                    <input type="hidden" name="action" value="unvote">
                                                </form>
                                                unvote
                                            </a>
                                        </span>
                                    {% endif %}
                                    |
                                    {% if contribution.n_comments > 0 %}
                                        <a href="contribution?id={{ contribution.id }}"> {{ contribution.n_comments }} comment</a>
                                    {% else %}
                                        <a href="contribution?id={{ contribution.id }}"> discuss</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr style="height:10px"></tr>
                            <tr>
                                <td colspan="2"></td>
                                <td>
                                    <form method="post" action="./doComment">
                                        <textarea name="text" rows="6" cols="60"></textarea>
                                        <input type="hidden" name="contribution" value="{{ contribution.id }}">
                                        <input type="submit" value="add comment">
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <table border="0" class="comment-tree">
                        <tbody>
                        {% for c in comments %}
                            <tr class="athing comtr " id="{{ c.id }}">
                                <td>
                                    <table border="0">
                                        <tbody>
                                            <tr>
                                                <td class="ind"> </td>
                                                <td valign="top" class="votelinks">
                                                    {% if c.voted == false and user is defined and user.email != c.username %}
                                                        <a id="up_{{ c.id }}" href="javascript:void(0)" onclick="$('#voteComment{{ c.id }}').submit()">
                                                        <form id="voteComment{{ c.id }}" action="voteComment" method="post" style="display: none">
                                                            <input type="hidden" name="comment" value="{{ c.id }}">
                                                            <input type="hidden" name="action" value="vote">
                                                        </form>
                                                            <div class="votearrow" title="upvote"></div>
                                                        </a>
                                                    {% endif %}
                                                </td>
                                                <td class="default">
                                                    <div style="margin-top:2px; margin-bottom:-10px;">
                                                        <span class="comhead">
                                                            <a href="user?user={{ c.username }}"
                                                               class="hnuser"> {{ c.username }} </a>
                                                            <span class="age">
                                                                <a href="">{{ c.time|time_ago }} ago</a>
                                                            </span>
                                                            {% if user is defined and c.username == user.email %}
                                                            <a href="delete?com_id={{ c.id }}&con_id={{ c.contribution_id }}"> delete </a>
                                                            {% endif %}
                                                            {% if c.voted == True and user.email != c.username %}
                                                                <span id="unv_{{ c.id }}">
                                                                |
                                                                <a id="up_{{ c.id }}" href="javascript:void(0)" onclick="$('#voteComment{{ c.id }}').submit()">
                                                                        <form id="voteComment{{ c.id }}" action="voteComment" method="post" style="display: none">
                                                                            <input type="hidden" name="comment" value="{{ c.id }}">
                                                                            <input type="hidden" name="action" value="unvote">
                                                                        </form>
                                                                        unvote
                                                                    </a>
                                                                </span>
                                                            {% endif %}
                                                        </span>
                                                    </div>
                                                    <br>
                                                    <div class="comment">
                                                        <span class="c00">
                                                            {{ c.text }}
                                                            <div class="reply">
                                                                <p>
                                                                    <font size="1">
                                                                        <u>
                                                                            <a href="reply?id={{ c.id }}">reply</a>
                                                                        </u>
                                                                    </font>
                                                                </p>
                                                            </div>
                                                        </span>
                                                    </div>

                                                {% for child in c.children recursive %}
                                                    <div style="padding-left: 20px; margin-top: 20px">
                                                        <span class="comhead">
                                                            {% if child.voted == false and user is defined and user.email != child.username %}
                                                                <a id="up_{{ child.id }}" href="javascript:void(0)" onclick="$('#voteComment{{ child.id }}').submit()">
                                                                <form id="voteComment{{ child.id }}" action="voteComment" method="post" style="display: none">
                                                                    <input type="hidden" name="comment" value="{{ child.id }}">
                                                                    <input type="hidden" name="action" value="vote">
                                                                </form>
                                                                <div class="votearrow" style="display: inline-block;" title="upvote"></div>
                                                                </a>
                                                            {% endif %}
                                                            <a href="user?user={{ child.username }}"
                                                               class="hnuser">{{ child.username }}</a>
                                                            <span class="age">
                                                            <a href="item?id={{ child.id }}">{{ child.time|time_ago }} ago</a>
                                                            </span>
                                                            {% if user is defined and child.username == user.email %}
                                                            <a href="delete?com_id={{ child.id }}&con_id={{ child.contribution_id }}"> delete </a>
                                                            {% endif %}
                                                            {% if child.voted == True and user is defined and user.email != child.username %}
                                                                <span id="unv_{{ c.id }}">
                                                                |
                                                                <a id="up_{{ child.id }}" href="javascript:void(0)" onclick="$('#voteComment{{ child.id }}').submit()">
                                                                        <form id="voteComment{{ child.id }}" action="voteComment" method="post" style="display: none">
                                                                            <input type="hidden" name="comment" value="{{ child.id }}">
                                                                            <input type="hidden" name="action" value="unvote">
                                                                        </form>
                                                                        unvote
                                                                    </a>
                                                                </span>
                                                            {% endif %}
                                                        </span>
                                                    <br>
                                                    <div class="comment">
                                                        <span class="c00">
                                                            {{ child.text }}
                                                            <div class="reply">
                                                                <p>
                                                                    <font size="1">
                                                                        <u>
                                                                            <a href="reply?id={{ child.id }}">reply</a>
                                                                        </u>
                                                                    </font>
                                                                </p>
                                                            </div>
                                                        </span>
                                                    </div>
                                                    {% if child.children %}
                                                        <div style="margin-top: 20px">{{ loop(child.children) }}</div>
                                                    {% endif %}
                                                    </div>
                                                {% endfor %}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
     </table>
{% endblock %}