{% extends "base.html" %}

{% block content %}



    <form class="profileform" method="post" action="/updateUser"><input type="hidden" name="id"
                                                                        value="joansanchez"><input
            type="hidden" name="hmac" value="b97b83fee6fb552b7ac2e0c61e1a7ad70ae15868">
        <table border="0">
            <tr class='athing'>
                <td valign="top">user:</td>
                <td timestamp="1523260324"><a href="user?user={{ user.email }}" class="hnuser">{{ user.email }}</a>
                </td>
            </tr>
            <tr>
                <td valign="top">karma:</td>
                <td>
                    {{ user.karma }}
                </td>
            </tr>
            <tr>
                <td valign="top">token:</td>
                <td>
                    <p>{{ token }}</p>
                </td>
            </tr>
            <tr>
                <td valign="top">about:</td>
                <td>
                    <textarea cols="60" rows="5" wrap="virtual" name="about"> {{ user.about }}
                    </textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><a href="threads?id={{ user.email }}"><u>comments</u></a></td>
            </tr>
        </table>
        <br><input type="submit" value="update"></form>




{% endblock %}