{% extends "base.html" %}

{% if user %}
    {% set user=user %}
{% endif %}

{% block content %}
    <table>
        <tbody>
        {% for i in contributions %}
            <tr class="athing" id="{{ i.id }}">
                <td align="right" valign="top" class="title">
                    <span class="rank">{{ loop.index }}.</span>
                </td>
                <td valign="top" class="votelinks">
                    <center>
                        {% if i.voted == false %}
                            <a id="up_{{ i.id }}" href="javascript:void(0)" onclick="$('#vote{{ i.id }}').submit()">
                                <form id="vote{{ i.id }}" action="vote" method="post" style="display: none">
                                    <input type="hidden" name="contribution" value="{{ i.id }}">
                                    <input type="hidden" name="action" value="vote">
                                </form>
                                <div class="votearrow" title="upvote"></div>
                            </a>
                        {% endif %}
                    </center>
                </td>
                <td class="title">
                    {% if i.kind == 'new' %}
                        <a href= {{ i.url }}> {{ i.title }}</a>
                        <span class="sitebit comhead"> (
                            <a href= {{ i.url }}>
                                <span class="sitestr">{{ i.url }}</span>
                            </a>)
                        </span>
                    {% else %}
                        <a href='contribution?id={{ i.id }}'> {{ i.title }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext">
                    <span class="score" id="score_{{ i.id }}"> {{ i.n_votes }} points</span>
                    by
                    <a href="user?user={{ i.user }}"> {{ i.user }} </a>
                    <span class="age">
                        <a href="contribution?id={{ i.id }}">{{ i.time|time_ago }} ago</a>
                    </span>
                    {% if i.voted == True %}
                        <span id="unv_{{ i.id }}">
                        |
                        <a id="up_{{ i.id }}" href="javascript:void(0)" onclick="$('#vote{{ i.id }}').submit()">
                                <form id="vote{{ i.id }}" action="vote" method="post" style="display: none">
                                    <input type="hidden" name="contribution" value="{{ i.id }}">
                                    <input type="hidden" name="action" value="unvote">
                                </form>
                                unvote
                            </a>
                        </span>
                    {% endif %}
                    |
                    {% if i.n_comments > 0 %}
                        <a href="contribution?id={{ i.id }}"> {{ i.n_comments }} comment</a>
                    {% else %}
                        <a href="contribution?id={{ i.id }}"> discuss</a>
                    {% endif %}
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}