{% extends "base.html" %}

{% set user=user %}

{% block content %}
    <table>
        <tbody>
        {% for i in contributions %}
            <tr class="athing" id="{{ i.id }}">
                <td align="right" valign="top" class="title">
                    <span class="rank">{{ i.id }}.</span>
                </td>
                <td valign="top" class="votelinks">
                    <center>
                        <a id="up_{{ i.id }}" onclick="return vote(event, this, &quot;up&quot;)"
                           href="">
                            <div class="votearrow" title="upvote"></div>
                        </a>
                    </center>
                </td>
                <td class="title">
                    <a href= {{ i.url }}> {{ i.title }}</a>
                    <span class="sitebit comhead"> (
                                                <a href= {{ i.url }}>
                                                    <span class="sitestr">{{ i.url }}</span>
                                                </a>)
                                            </span>
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext">
                    <span class="score" id="score_{{ i.id }}"> {{ i.n_votes }} points</span>
                    by
                    <a href="user?id={{ i.user }}"> {{ i.user }} </a>
                    <span class="age">
                        <a href="item?id={{ i.id }}">{{ i.time }} ago</a>
                    </span>
                    <span id="unv_{{ i.id }}">
                    |
                    <a id="un_{{ i.id }}" onclick="return vote(event, this,&quot;un&quot;)" href="">unvote</a>
                    </span>
                    |
                    <a href="item?id={{ i.id }}"> 0 comment</a>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}