{% extends "base.html" %}

{% block navbar %}
    <td style="line-height: 12pt; height: 10px;">
        <span class="pagetop">
            <b class="hnname">
                <a href="" style="color: black"> Hacker News</a>
            </b>
            <a href="./new"> &nbsp new</a>
            &nbsp;|&nbsp;
            <a href="">threads</a>
            &nbsp;|&nbsp;
            <a href="">comments</a>
            &nbsp;|&nbsp;
            <a href="">show</a>
             &nbsp;|&nbsp;
            <a href="">ask</a>
             &nbsp;|&nbsp;
            <a href="">jobs</a>
             &nbsp;|&nbsp;
            <a href="./submit">submit</a>
        </span>
    </td>
    <td style="text-align:right;padding-right:4px;">
        <span class="pagetop">
            <a id="" href="">
                login
            </a>
        </span>
    </td>
{% endblock %}

{% block content %}
    <table>
        <tbody>
        {% for i in contributions %}
            <tr class="athing" id="{{ i.id }}">
                <td align="right" valign="top" class="title">
                    <span class="rank">{{ i.id }}.</span>
                </td>
                <td valign="top" class="votelinks">
                    <center>
                        <a id="up_{{ i.id }}" onclick="return vote(event, this, &quot;up&quot;)"
                           href="">
                            <div class="votearrow" title="upvote"></div>
                        </a>
                    </center>
                </td>
                <td class="title">
                    <a href= {{ i.url }}> {{ i.title }}</a>
                    <span class="sitebit comhead"> (
                                                <a href= {{ i.url }}>
                                                    <span class="sitestr">{{ i.url }}</span>
                                                </a>)
                                            </span>
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext">
                    <span class="score" id="score_{{ i.id }}"> points</span>
                    by
                    <a href="user?id={{ i.username }}"> {{ i.username }}</a>
                    <span class="age">
                                                <a href="item?id={{ i.id }}">{{ i.time }} ago</a>
                                            </span>
                    <span id="unv_{{ i.id }}"></span>
                    |
                    <a href="" onclick="return hidestory(event, this, {{ i.id }})">hide</a>
                    |
                    <a href="item?id={{ i.id }}">0&nbsp;comment</a>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}