<td style="line-height: 12pt; height: 10px;">
        <span class="pagetop">
            <b class="hnname">
                <a href="./" style="color: black"> Hacker News</a>
            </b>
            <a href="./new"> &nbsp new</a>
            &nbsp;|&nbsp;
            <a href="#">threads</a>
            &nbsp;|&nbsp;
            <a href="./ask">ask</a>
            &nbsp;|&nbsp;
            <a href="./submit">submit</a>
        </span>
</td>
<td style="text-align:right;padding-right:4px;">
        <span class="pagetop">
            {% if user is not defined %}
                <a id="googleButton" href="javascript:void(0)" data-onsuccess="onSignIn">
                login
            </a>
            {% else %}
                <div>
                    <a id="currentUser" href="./editProfile">
                        {{ user.email }} ({{ user.karma }})
                    </a>
                    |
                    <form id="logoutForm" action="logout" method="post" style="display: none"></form>
                    <a href="javascript:void(0)" onclick="$('#logoutForm').submit()">logout</a>
                </div>
            {% endif %}
        </span>
</td>

<script src="../static/js/navbar.js"></script>