<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/Submit.css"/>
    <title>Submit Page</title>
</head>

<body>
<center>
    <table id="taula" border="0" cellpadding="0" cellspacing="0" withdth="80%" bgcolor="#FFFFFF">
        <tbody>
            <tr>
                <td bgcolor="FF8000">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td style="width=18px; padding-right: 7px">
                                    <a href="AQUI VA L ADREÇA HOME">

                                    </a>
                                </td>
                                <td style="line-height:80%">
                                    <span class="pagetop">
                                        <b> Submit </b>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <form method="get_table_creation" action="">
                        <table border="0">
                            <tbody>
                                <tr>
                                    <td>Title</td>
                                    <td>
                                        <input type="text" name="title" value size="50">

                                    </td>
                                </tr>
                                <tr>
                                    <td>URL</td>
                                    <td>
                                        <input type="text" name="url" value size="50">

                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td> <b>or</b> </td>
                                </tr>
                                <tr>
                                    <td>Text</td>
                                    <td>
                                        <textarea name="text" rows="4" cols="50"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="submit" value="submit">
                                    </td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td>
                                        "Leave URL blank to leave a question for discussion. If there is no url,
                                            the text (if any) will appear at the top of the thread."
                                        <br>
                                        <br>
                                        "You can also submit via "
                                        <a href="http://127.0.0.1:5000/BookMarklet" rel="nofollow">
                                            <u>Bookmarklet</u>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

</center>

</body>
</html>